{% extends 'base.html' %}
{% load static %}
{% block content %}

   {% if project_list %}
    <div class="container">
        <div class="row">
            {% for project in project_list %}
                <div class="col-3"> <!--4열 -->
                    <a href="{% url 'projectapp:detail' pk=project.pk %}">
                        <div class="circle-card shadow">
                            <div class="circle-img-wrapper">
                                <img src="{{ project.image.url }}" class="card-img-top" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                {% if forloop.counter|divisibleby:4 %} <!-- 추가: 4열마다 줄 바꿈 -->
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="text-center">
        <h2>갤러리가 없습니다.</h2>
    </div>
{% endif %}

    <hr> <!-- 구분 선 -->

    {% if article_list %}
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for article in article_list|slice:":12" %}  <!-- article_list를 12개로 제한 -->
                            <div class="col">
            <div class="card shadow">
                <a href="{% url 'articleapp:detail' pk=article.pk %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <div class="d-flex align-items-center">
                            <a href="{% url 'likeapp:article_like' pk=article.pk %}">
                                <i class="material-icons {% if article.like > 0 %}text-danger{% endif %}" style="color: {% if article.like == 0 %}var(--color-black);{% else %}var(--color-pink);{% endif %}">
                                    favorite
                                </i>
                            </a>
                            <span class="ms-1">{{ article.like }}</span>
                        </div>
                        <div class="card-text">
                            <div class="mb-2">{{ article.writer.profile.nickname }}</div>
                            <h6 class="hits">🖱조회수: {{ article.hits }}</h6>
                            <div>{{ article.created_at }}</div>
                        </div>
                        <img src="{{ article.project.image.url }}" class="project-image" alt="">
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="text-center">
        <h1>게시글이 존재하지 않습니다.</h1>
    </div>
    {% endif %}



    <div class="text-center mt-3">
        <a href="{% url 'articleapp:create' %}" class="btn btn-primary col-3">
            글쓰기
        </a>
    </div>

    <style>
        .circle-card {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
        }

        .circle-img-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .project-image {
            width: 20px;
            height: 20px;
        }
    </style>
{% endblock %}
